MIRELLA_EMAIL=
MIRELLA_SENHA=
MIRELLA_COOKIE=
MIRELLA_TIMEOUT=60
MIRELLA_OUTPUT_DIR=exports
MIRELLA_DB_PATH=mirella_pacientes.sqlite3
MIRELLA_DATA_PACIENTES=01/01/1900
MIRELLA_DATA_PACIENTES_ATE=
MIRELLA_DATA_VENDAS=01/01/1900
MIRELLA_DATA_VENDAS_ATE=
KOMMO_BASE_URL=https://mirellarabelo.kommo.com
KOMMO_EMAIL=
KOMMO_PASSWORD=
KOMMO_ACCESS_TOKEN=
KOMMO_PIPELINE_ID=
KOMMO_DB_PATH=mirella_kommo_leads.sqlite3
KOMMO_OUTPUT_DIR=exports/kommo
KOMMO_STATE_PATH=profiles/kommo_state.enc
